<!DOCTYPE html>
<html lang= "pl" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout :: head"> </head>
<body>
<div th:insert="layout :: navigationPanel"></div>

<table>
    <tr>
        <td>Imie</td>
        <td>Nazwisko</td>
        <td>login</td>
        <td>password</td>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.login}"></td>
        <td th:text="${user.password}"></td>
    </tr>
</table>

<div th:insert="layout :: footer"></div>
</body>
</html>